h1,
p {
  font-family: Lato;
}
h1 {
  text-align: center;
}

h2 {
  border-bottom: 1px solid #099;
  width: 100%;
}
html,
body {
  max-height: 100vh;
  overflow: hidden;
}
body {
  color: #ddd;
  background: #888;
}
span[lang] {
  display: none;
}
#app {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #333;
  height: 90vh;
  width: 90vw;
  margin: 3vh 3vw;
  padding: 2vh 2vw;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
}

#main {
  display: flex;
  flex-direction: row;
}
#navigateDiv {
  float: left;
  height: 100%;
  width: 100px;
  margin-right: 50px;
  margin-top: 20px;
}
#content {
  flex: 1;
}
.contents {
  margin-left: 20px;
  float: left;
  width: 80%;
  display: none;
}
.contents.show {
  display: block;
}

.menuButton {
  cursor: pointer;
  border-bottom: 1px solid #099;
  transition: all 0.2s;
  float: left;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  &.active {
    color: #a50;
    border-bottom: 1px solid #a50;
    padding-left: 15px;
    padding-right: 5px;
  }
  &:hover {
    color: #d00;
    border-bottom: 1px solid #d00;
    padding-left: 20px;
    padding-right: 0px;
  }
}

.indent {
  margin-left: 20px;
}

a:link, a:visited {
  color: #099;
}
a:hover {
  color: #d00;
}